body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
}


.links {
    display: flex;
}


.links li {
    list-style-type: none;
    text-decoration: none;
    padding: 10px;
}

.introduction {
    display: flex;
}

.introduction div {
    padding-left: 5%;
    padding-right: 5%;
}

.intro-speech {
    max-width: 30%;
    text-align: center;
}

.information {
    display: flex;
    flex-direction: column;
    background-color: aqua;
}

.information .supercars {
    display: flex;
    justify-content: space-between;
}

.information .supercars img {
    border-radius: 5px;
}

.information .descriptions {
    display: flex;
    justify-content: space-between;
}

.quote {
    text-align: center;
}